/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variables */
:root {
    --pink: #FF42A5;
    --bold-text-color : #0B0223;
    --normal-text : #534C64;
    --blue : #4EC5F7;
    --light-bg : rgba(255, 66, 165, 0.03);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--normal-text);
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.btn-primary {
    border: none;
    padding: 16px 40px;
    border-radius: 40px;
    background-color: var(--pink);
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.text-middle {
    text-align: center;
}
.section-title-gradient {
    font-size: 2.7rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-title {
    color: var(--bold-text-color);
    font-weight: 700;
    font-size: 2.7rem;
}
.section-description {
    color: var(--normal-text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}
.section-gap {
    padding: 120px 0;
}
/* Header section */
/* Nav */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 28px 0;
}
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul li {
    list-style: none;
}
nav ul li:last-child {
    border-radius: 6px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 23px;
}
nav ul li:last-child i {
    font-size: 1.3rem;
}
nav ul li a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}
nav ul li img {
    height: 26px;
}
nav ul li .fa-youtube {
    margin: 0 10px;
    color: #F61C0D;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img {
    height: 30px;
}
.logo h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--bold-text-color);
}
.logo span {
    color: var(--pink);
}

/* Banner */
.banner1-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    width: 50%;
}
.banner-img {
    width: 50%;
}
.banner1-container .banner-content h1 {
    color: var(--bold-text-color);
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner1-container .banner-content h1 span {
    display: block;
    font-weight: 800;
    font-size: 5.3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner1-container .banner-content ul {
    margin-top: 20px;
    margin-bottom: 35px;
}
.banner1-container .banner-content ul li {
    list-style-position: inside;
    color: var(--normal-text);
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
    list-style: none;
}
.banner-btn-container button:last-child {
    background-color: var(--blue);
}
.banner-btn-container {
    display: inline-flex;
    gap: 20px;
}
.banner-img img {
    width: 100%;
}

/* Banner 2 */
.banner2 {
    background-color: var(--light-bg);
    padding: 90px 0;
}
.banner2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner2-container .banner-content {
    text-align: right;
}
.banner2-container .banner-content h4 {
    color: var(--normal-text);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 45px;
}
.banner2-container .banner-content h4 span {
    display: block;
    font-weight: 700;
    font-size: 1.7rem;
}
.banner2-container .section-description {
    margin-top: 24px;
    margin-bottom: 32px;
}
.banner2-container .btn-primary {
    margin-bottom: 24px;
}

/* Online games and videos */
.games-videos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.games-videos-container .section-description {
    padding: 8px 0;
}
.games-videos-container .item {
    /* position: relative; */
}
.games-videos-container .item img {
    width: 100%;
}
.games-videos-container .item .caption {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px; 
    margin-top: 10px;
}
.item-img {
    position: relative;
}
.online-games .play-video {
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    text-align: center;
    color: white;
    position: absolute;
    display: inline-block;
    top: 0;
    height: 100%;
    left: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}
.play-video:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.60);
}
.online-games .play-video span {
    display: block;
}
.online-games .play-video span i {
    color: white;
    font-size: 2rem;
}
.play-video p {
    color: white;
    font-weight: 600;
    color: var(--pink);
    font-size: 1.2rem;
}

/* Feature Section */
.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature-content-parent {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-content {
    width: 80%;    
}
.feature-content .section-description {
    margin-top: 20px;
}
.feature-img {
    width: 50%;
    text-align: right;
    position: relative;
}
.feature-img img:first-child {
    width: 80%;
}
.feature-img img:last-child {
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -100px;
}

.feature1 {
    margin-bottom: 150px;
}
#feature2 {
    margin-bottom: 150px;
}
#feature2 .feature-img {
    text-align: left;
}

#feature2 .feature-img img:last-child {
    /* bottom: -100px; */
    right: 0;
    left: unset;
}


/* Careers */
.careers {
    background-color: var(--pink);
    color: #FFF;
    padding: 120px 0;
    /* background-image: url("../images/Group65.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%; */
}
.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-content {
    width: 50%;
}
.career-content h3{
    color: #FFF;
    margin-bottom: 24px;
}
.career-content p {
    color: #FFF;
    font-size: 1rem;
    margin-bottom: 32px;
}
.career-table {
    width: 100%;
    margin-bottom: 40px;
}
.career-table tr td:last-child {
    text-align: right;
}
.career-table td {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
}
.career-content button {
    text-transform: uppercase;
    background-color: #FFF;
    color: var(--pink);
}
.career-img {
    width: 50%;
}
.career-img img {
    width: 100%;
}


/* ALL GAMES */
.games {
    background-color: rgba(255, 66, 165, 0.03);
    padding: 120px 0;
}
.games-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game-item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 10px;
    background-color: #FFF;
    border: 2px solid transparent;
}
.game-item h4 {
    color: var(--bold-text-color);
    font-size: 1rem;
    font-weight: 600;
}
.game-item img {
    width: 40px;
    height: 40px;
}

.game-item:hover {
    border: 2px solid var(--pink);
    cursor: pointer;
}
.game-item:hover h4 {
    color: var(--pink);
}

/* Footer */
footer {
    padding: 120px 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #0B0223;
}
.footer-container {
    max-width: 800px;
}
.logo-container {
    display: flex;
    justify-content: center;
}
footer .f-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}
footer .f-logo img {
    height: 30px;
}
footer .f-logo h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}
footer .f-logo span {
    color: var(--pink);
}
footer ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
footer ul li {
    list-style: none;
}
footer ul li a {
    text-decoration: none;
}
.footer-nav {
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 60px;
}
.social-media {
    justify-content: space-evenly;
    margin-bottom: 60px;    
    
}
.conditions {
    justify-content: space-around;
    margin-bottom: 28px;
}
.footer-nav li a {
    color: #FFF;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 20px;
}
.social-media li a i {
    font-size: 2rem;
    color: white;
}
.social-media li a {
    color: #FFF;
}
.conditions li a, footer p {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 0.9rem;
}
/* Make Reponsive */

/* Mobile Responsive */
@media screen and (max-width: 576px) {
    /* Common */
    nav,
    .banner1-container,
    .banner2-container,
    .padding-responsive{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    /* Grid */
    .games-videos-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px; 
        margin-top: 30px;
    }


    /* Flex Direction */
    .nav-container,
    nav ul,
    .banner1-container,
    .banner2-container,
    .feature-container,
    .career-container {
        flex-direction: column;
    }

    /* Reverse */
    .banner1-container,
    #feature-container-2 {
        flex-direction: column-reverse;
    }

    /* Width 100% */
    .banner-content,
    .banner-img,
    .feature-content,
    .feature-img, 
    .feature-content-parent,
    .career-img,
    .career-content {
        width: 100%;
    }

    .feature-img img:first-child {
        width: 90%;
    }

    .feature-img img:last-child {
        width: 40%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: -70px;
    }

    /* alignment */
    .banner1-container,
    .banner2-container .banner-content,
    .feature-content {
        text-align: center;
    }
    

    /* Spacing */
    .nav-container {
        gap: 40px;
    }
    .career-container {
        gap: 60px;
    }
    nav ul {
        gap: 30px;
    }
    .banner2 {
        margin-top: 30px;
    }
    .banner1-container .banner-content, .banner1-container .banner-img {
        padding-top: 40px;
    }
    .feature1 .feature-img {
        margin-top: 40px;
    }
    #feature-container-2 .feature-img {
        margin-top: 40px;
    }
}


/* Tablet Reponsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* Common */
    nav,
    .banner1-container,
    .banner2-container,
    .padding-responsive{
        padding-right: 20px;
        padding-left: 20px;
    }

    
    /* Grid */
    .games-videos-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px; 
        margin-top: 30px;
    }
    
    /* Flex Direction */
    .nav-container,
    nav ul,
    .banner1-container,
    .banner2-container,
    .feature-container,
    .career-container {
        flex-direction: column;
    }

    /* Reverse */
    .banner1-container,
    #feature-container-2 {
        flex-direction: column-reverse;
    }

    /* Width 100% */
    .banner-content,
    .banner-img,
    .feature-content,
    .feature-img, 
    .feature-content-parent,
    .career-img,
    .career-content {
        width: 100%;
    }

    .feature-img img:last-child {
        width: 35%;
    }

    /* alignment */
    .banner1-container,
    .banner2-container .banner-content,
    .feature-content {
        text-align: center;
    }
    .banner1-container .banner-content {
        
    }

    /* Spacing */
    .nav-container {
        gap: 40px;
    }
    nav ul {
        gap: 30px;
    }
    .banner2 {
        margin-top: 30px;
    }
    .banner1-container .banner-content, .banner1-container .banner-img {
        padding-top: 40px;
    }
    .feature1 .feature-img {
        margin-top: 40px;
    }
    #feature-container-2 .feature-img {
        margin-top: 40px;
    }
    .career-container {
        gap: 60px;
    }
}